body{
background-image: url("../images/concrete_seamless.png");
}

header {
position: fixed;
height: 70px;
width: 100%;
background: #ffffff;
border-bottom: 2px solid #cccccc;
z-index: 5;
}

#bootstrap {
    color: #4aaaa5 !important;
}

#about, #portfolio, #contact, #bootstrap {
text-decoration: none;
color: #858585;
line-height: 70px;
font-size: 18px;
}

#Ado{
    height: 70px;
    width: 200px;
    background: #4aaaa5;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    font-weight: bold;
    font-size: 25px;
    color: #ffffff;
    float: left;
    margin-left: 130px;
    text-align: center;
    line-height: 70px;
}

nav {
    display: inline-flex;
    float: right;
    margin-right: 145px;
}

nav #about, #portfolio, #contact, #bootstrap {
    margin: 0px 8px 0px 8px;
}

section { 
    position: relative;
    float: left;
    height: auto;
    width: 960px;
    background: #ffffff;
    border: 1px solid #dddddd;
    padding: 20px;
    margin-top: 100px;
    margin-left: 130px;
    margin-bottom: 80px;
}

hr{
    color: solid #dddddd;
    background-color: #dddddd;
    border: 1px solid #dddddd;
}

#aboutme, #portfolio2, #contact2 {
    color: #4aaaa5;
    padding: 10px 0px;
    font-weight: bold;
    font-size: 25px;
}

#adopic {
    float: left;
    padding: 10px 20px 0px 0px;
}

p{
    padding: 10px;
    line-height: 30px;
}

a, form, p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #858585;
}

footer  {
    height: 38px;
    width: 100%;
    background-color: #666666;
    position: fixed;
    bottom: 0;
    border-top: 6px solid #4aaaa5;
    z-index: 6;
}

/* Contacts */

#button1 {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 16px 8px 16px;
    margin: 8px 8px 0px 0px;
    border: 1px solid #4aaaa5;
}

input {
    height: 10px;
    width: 97.5%;
    font-size: 18px;
    padding: 10px;
    margin: 5px 0px 12px 0px;
    float: left;
}

#message2 {
    height: 160px;
}

/* Portfolio */

.portfolioteal {
    float: left;
    width: 100%;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px 0px 10px 0px;
    text-align: center;
    position: absolute;
    z-index: 2;
    bottom: 35px;
}

#portfolio3 {
    position: relative;
    height: 600px;
    width: 850px;
}

.portfolioimages {
    position: relative;
    float: left;
    padding: 8px 16px 8px 16px;
    margin: 10px 8px 20px 65px;
    height: 400px;
    width: 310px;
}

#hangman {
    position: absolute;
    float: left;
    z-index: 1;
    height: 400px;
    width: 310px;
}


/* Teal color (used for headings and backgrounds): `#4aaaa5`
   * Regular font color (used for paragraphs and all text besides the headings): `#777777`
   * Main header background color: `#ffffff`
   * Main header border color: `#cccccc`
   * Footer background color: `#666666`
   * Main content background color: `#ffffff`
   * Main content border color: `#dddddd`

2. Fonts:
   * For heading fonts use `font-family: 'Georgia', Times, Times New Roman, serif;`.
   * For all other fonts use `'Arial', 'Helvetica Neue', Helvetica, sans-serif;`. */

   /* Dimensions:
   * The entire content and the main section content area is `960px` wide. */